*{
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-weight: 400;
    /* border: 2px solid red; */
}


/* body{
    width: 100%;
} */

#mainHeader{
    height: 400px;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

#headerContainer{
    width: 1170px;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mainTittle{
    text-transform: uppercase;
    font-size: 4.2em;
    color: #007bff;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: -2px;
    position: relative;
    display: inline-block;
    text-align: center;
}

#mainTittle::after,
.articleTittle::after{
    content: " ";
    height: 1px;
    width: 80px;
    background-color: #007bff;
    position: absolute;
    left: calc(50% - 40px);
    bottom: 0;
}

#headerP{
    font-size: 1.3em;
    color: #333;
}

.bullet:before{
    font-size: 1em;
    color: #007bff;
    content: "•";
    font-weight: 1000;
}

.links,
#submitButton{
    display: inline-block;
    /* width: 250px; */
    text-transform: uppercase;
    color: #333;
    border: 1px solid #007bff;
    border-radius: 0px;
    padding: 16px;
    margin: auto;
    margin-top: 6px;
    background-color: transparent;
    text-decoration: none;
}

.links:hover,
#submitButton:hover{
    background-color: #c8c7c5;
    cursor: pointer;
}

/* nav{
    width: 100%;
} */

ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    height: 50px;
    margin: 0px;
}

#mainNav>li>a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 500;
    padding: 24px;
}


.articles{
    max-width: 1170px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    margin: auto;
}

.contactForm{
    width: 75%;
    margin: auto;
}

.articleTittle{
    text-transform: uppercase;
    margin-bottom: 56px;
    color: #007bff;
    font-size: 1.9em;
    color: #333;
    position: relative;
}

#myPicture{
    margin: auto;
    max-width: 420px;
    border-radius: 50%;
}
/* #pictureContainer{
    max-width: 420px;
    width: 50%;
    aspect-ratio: 1;
    border-radius: 9999px;
    background-image: url(../img/about.jpg);
    background-position: center;
    background-size: contain;
    margin-bottom: 24px;
} */

.articles > p{
    text-align: center;
    color: #777;
}

.articles > p:last-of-type{
    margin-bottom: 32px;
}

#articlePortfolio,
footer{
    background-color: #f2f1ed;
}

#gallery{
    display: flex;
    width: 90%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
}

figure{
    width: 25%;
    height: auto;
    display: inline-block;
    margin: 0px;
    background-color: #007bff;
    position: relative;
}

.overlay{
    top: 0;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
}

.galleryImg{
    position: relative;
    z-index: 10;
    display: block;
    width: 100%;
    margin-bottom: 0px;
    transition: opacity 0.5s ease-in-out;
}


.galleryImg:hover{
    opacity: 0.4;
}

form{
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

#name,
#mail{
    width: calc(50% - 12px);
    line-height: 32px;
    border: 1px solid #777;
    border-radius: 0px;
}

textarea{
    width: 100%;
    height: 86px;
    border-color: #777;
}

footer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #333;
    border-color: #777;
}

#logos{
    width: 500px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 84px;
    /* gap: 56px; */
}

.svg{
    width: 25%;
    filter: brightness(0) saturate(100%) invert(30%) sepia(31%) saturate(6051%) hue-rotate(201deg) brightness(104%) contrast(102%);
    /* transition: filter; */
}

.svg:hover{
    opacity: 1;
    filter: brightness(0) saturate(100%) invert(45%) sepia(0%) saturate(2666%) hue-rotate(318deg) brightness(101%) contrast(99%);
    cursor: pointer;
}


@media screen and (max-width: 1200px){
    #headerContainer,
    .articles{
        max-width: 992px;
    }
}

@media screen and (max-width: 992px){
    #headerContainer,
    .articles{
        max-width: 768px;
    }
    
    figure{
        width: 50%;
    }
}

@media screen and (max-width: 768px){
    #headerContainer,
    .articles{
        width: 95%;
    }

    #logos{
        max-width: 70%;
    }

    figure{
        width: 100%;
    }
}